<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Multi Store Management</title>
		<link rel="stylesheet" href="css/dashboard.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	</head>
	<body>
		<header>
			<div class="container-d">
				<div class="nav_bar">
					<div class="logo">
						<h4>
							<a href="/home" class="left brand-logo"> Logo</a>
						</h4>
					</div>
					<div class="menu_list">
						<a href="/home">Home</a>
						<a href="#">Services</a>
						<a href="#">At</a>
						<a href="#">stores</a>
						<a href="#">User</a>

						<button class="lg_btn">Sign out</button>
					</div>
				</div>
			</div>
		</header>

		<section class="home_section">
			<div class="overlay">
				<div class="container">
					<div class="home">
						<h1>
							<span>New</span> offers <br />now <span>at</span> <br /><span
								>our</span
							>
							stores
						</h1>
						<div class="home_buttons">
							<button class="btn1">
								<a style="color: white" href="/shop">Explore Stores</a>
							</button>
							<button><i class="fa fas fa-play"></i>Offers</button>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="shop-list">
			<h1>Add shop <%= title %></h1>
			<form action="/home" id="addForm" method="POST">
				<input
					type="text"
					id="shopname"
					name="shopname"
					class="boder-dg"
					placeholder="Shopname"
					required />
				<input
					type="text"
					id="image"
					name="image"
					class="boder-dg"
					placeholder="Image"
					required />

				<button id="addShop" type="submit">Add</button>
			</form>
			<br />

			<div class="shop-list-container">
				<% if(shop.length > 0){ %>
				<h1>List of shop <%= shop[0].shopname %> & <%= shop.length %></h1>
				<% shop.forEach((row, index) => { %>
				<form action="/home" class="updateForm" method="POST">
					<li style="display: flex; align-items: center">
						<h4 style="padding: 10px" class="shopid"><%= index+1 %></h4>
						<img src="<%= row.image %>" class="shopimg" />

						<h4 style="padding: 10px" class="shopid"><%= row.shopname %></h4>
						<h4 style="padding: 10px" class="shopid"><%= row._id %></h4>
						<input
							type="hidden"
							style="display: flex"
							class="inputid"
							name="inputid"
							required />
						<a
							href="/update/<%= row._id %>"
							class="btn-1"
							class="updateShop"
							style="height: 40px">
							Update
						</a>
						<a
							href="/delete/<%= row._id %>"
							class="btn-1"
							class="deleteShop"
							style="height: 40px">
							Delete
						</a>
					</li>
				</form>
				<% }); %> <% } else{ %>
				<h1>Oops!, Currently There are no shops. <%= shop.length %></h1>
				<% } %>
			</div>
		</div>
		<script
			src="https://kit.fontawesome.com/48bcbf2c30.js"
			crossorigin="anonymous"></script>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"></script>
		<script src="js/script.js"></script>
	</body>
	    
</html>
